name: run-tests
run-name: ${{ github.event_name }}-${{ github.actor }}-${{ github.run_number }}
on:
  push:
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go 1.24.x
        uses: actions/setup-go@v4
        with:
          go-version: '1.24.x'
      - name: Tidy Go Dependencies
        run: go mod tidy
      # Using golangci/golangci-lint-action v9.0.0
      - name: Lint Go Code
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47
        with:
          version: latest
      - name: Build Go Project
        run: make build
      - name: Run Go Tests
        run: make test